.table-container {
    overflow-x: auto;
    /* Enable horizontal scrolling */
    max-width: 100%;
    /* Limit the maximum width of the container */
}

table {
    width: 100%;
    /* Make the table occupy the full width of the container */
}

th {
    position: sticky;
    top: 0;
    background-color: white;
}

.notification-icon {
    position: relative;
    cursor: pointer;
}

.notification-icon .badge {
    position: absolute;
    top: 0;
    right: 0;
}

/* Style the modal trigger button */
#notificationsModal {
    cursor: pointer;
}
.jSignature {
    margin: 0px;
    padding: 0px;
    border: medium;
    height: 600px !important;
    width: 100%;
    touch-action: none;
    background-color: rgb(255, 255, 255);
}


.notification-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.notification-container h3 {
    color: #333;
}

.notification-list {
    list-style-type: none;
    padding: 0;
}

.notification-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    
}

.notification-item a{
    cursor: pointer;
}

.notification-status-0 {
    background-color: #ffe6e6; /* Light red background for status 0 */
}

.notification-status-1 {
    background-color: #e6f7e6; /* Light green background for status 1 */
}

.notification-item a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent */
    display: block; /* Make the link fill the entire notification item */
}

.mark_as_read {
    color: #4CAF50; /* Green color for the "mark as read" link */
    font-weight: bold; /* Make the text bold */
    margin-top: 5px; /* Add some space between the notification text and the link */
    display: inline-block; /* Display the link inline with the text */
}

h2 {
    text-align: center;
    margin-top: 20px;
}
form {
    max-width: 300px;
    margin: 0 auto;
}
input[type="email"], /* Change the input type to email */
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
}
button:hover {
    background-color: #0056b3;
}
.error {
    color: #ff0000; /* Red text color for errors */
    font-weight: bold; /* Make the text bold */
    margin-top: 10px; /* Add some space above the error message */
}